@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  background-color: #e2e2e2;

  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);

  position: absolute;
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  text-align: center;

  position: absolute;
  bottom: 25px;
  left: 5em;
}

.polaroid:nth-child(1) {
  transform: rotate(-5deg);
  z-index: 1;

  transition: rotate 1000ms linear;
}

.polaroid:nth-child(2) {
  transform: rotate(5deg);
  z-index: 3;

  transition: rotate 1000ms linear;
}

.polaroid:nth-child(3) {
  transform: rotate(35deg);
  z-index: 2;

  transition: rotate 1000ms linear;
}

.polaroid:hover {
 transform: rotate(0deg); 
 z-index: 1000;
 box-shadow: 1px 4px 10px rgba(0, 0, 0, .5);
}


