@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  background-color: #e2e2e2;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;
  position: absolute;
  top: 100px;
  left: 100px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}

.polaroid:nth-child(1) {
  position: absolute;
  top: 75px;
  left: 25%x;
  transition: all 200ms linear;
  transform: rotate(-15deg);
}

.polaroid:nth-child(1):hover {
  transform: rotate(0deg);
  z-index: 2000;
  box-shadow: 1px 8px 12px rgba(0, 0, 0, .5);
}

.polaroid:nth-child(2) {
  position: absolute;
  top: 120px;
  left: 20%;
  transform: rotate(10deg);
  z-index: 1000;
  transition: all 200ms linear;
}

.polaroid:nth-child(2):hover {
  transform: rotate(0deg);
  z-index: 1000;
  box-shadow: 1px 8px 12px rgba(0, 0, 0, .5);
}

.polaroid:nth-child(3) {
  position: absolute;
  top: 100px;
  left: 35%;
  transform: rotate(45deg);
  transition: all 200ms linear;
}

.polaroid:nth-child(3):hover {
  transform: rotate(0deg);
  z-index: 1000;
  box-shadow: 1px 8px 12px rgba(0, 0, 0, .5);
}

figcaption {
  position: absolute;
  left: 33%;
  bottom: 20px;
}
