@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  background-color: #e2e2e2;

  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.polaroid {
  margin: 0;
  padding: 10px 10px 0px 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
  position: absolute;
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  position: relative;
  bottom: 30px;
  left: 70px;
}

.pola1 {
  transform: rotate(-10deg);
  transition: all 500ms linear;
  z-index: 1;
}

.pola1:hover {
  transform: rotate(0deg);
  z-index: 3;
}

.pola2 {
  transform: rotate(10deg);
  left:80px;
  top: 50px;
  transition: all 500ms linear;
  z-index: 2;
}

.pola2:hover {
  transform: rotate(0deg);
  z-index: 3;
}

.pola3 {
  transform: rotate(30deg);
  left: 160px;
  top: 50px;
  transition: all 500ms linear;
  z-index: 1;
}

.pola3:hover {
  transform: rotate(0deg);
  z-index: 3;
}
