@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  background-color: #e2e2e2;

  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}

.polaroid:nth-child(1) {
  transition: all 400ms linear;
  transform: rotate(-20deg);
  position: absolute;
  top: 10em;
  left: 6em;
}

.polaroid:nth-child(2) {
  transition: all 400ms linear;
  transform: rotate(5deg);
  position: absolute;
  top: 12em;
  left: 10em;
}

.polaroid:nth-child(3) {
  transition: all 400ms linear;
  transform: rotate(30deg);
  position: absolute;
  top: 10em;
  left: 12em;
}

.polaroid:nth-child(3):hover {
  transform: rotate(0deg);
  z-index: 1000;
  box-shadow: 3px 3px 30px rgba(0, 0, 0, .5);
}

.polaroid:nth-child(2):hover {
  transform: rotate(0deg);
  z-index: 1000;
  box-shadow: 3px 3px 30px rgba(0, 0, 0, 1.5);
}

.polaroid:nth-child(1):hover {
  transform: rotate(0deg);
  z-index: 1000;
  box-shadow: 3px 3px 30px rgba(0, 0, 0, 1.5);
}
